<h2>This is <%= @employee.name() %></h2>

<form action="/employee/<%= @employee.id() %>" method="post">
  <label for="project_id">Select a Project</label>
  <select id='project_id' name='project_id' type='text'>
    <% @projects.each() do |project| %>
      <option value="<%= project.id()%>"> <%= project.name() %> </option>
    <% end %>
  </select>


  <button type="submit">Add employee</button>
</form>

<a href= '/'>Back</a>
